@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Spline+Sans+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    }


.flexEnd {
    display: flex;
    justify-content: flex-end;
}

.bgGris{
    background-color: rgba(30, 30, 30, 1)
}

.fontImpact {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.textoBlanco{
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
} 

body{
    background-image: url(../img/patron3.jpg);
    background-attachment: fixed;
    width: 100%;
}