//variables

$azulEmpresa:rgba(32, 41, 67,1);
$naranjaEmpresa: #dd5d1c;
$grisEmpresa: rgba(30, 30, 30, 1);
$blanco: rgba(249, 249, 249,1);

$colores: (
    'uno': rgba(32, 41, 67,1),
    'dos': #dd5d1c,
    'tres': rgba(30, 30, 30, 1),
    'cuatro':rgba(249, 249, 249,1),

);