@import "_var";
@import "_fonts";
@import "_commons";
@import "_mixins";
@import "_nav";


.bgGris{
    background-color: $grisEmpresa;
}

.cajaServicios{
    text-align: center;
    font-family: $secondaryFont;
    font-size: 0.8rem;
    

}

.imagenServicios{
    border-top:inset 2px $naranjaEmpresa;
    border-right:inset 2px $naranjaEmpresa;
    border-left:inset 2px $naranjaEmpresa;
    border-bottom:inset 2px $naranjaEmpresa;
    background-color: white;

}

.borderBot{
    border-bottom:inset 2px  $blanco;  
}

.colorOrange {
    color: $naranjaEmpresa;
}



.marginLand{
    padding-bottom: 110px;
}

footer{
    color: rgb(129, 129, 129);
    background-color:  $grisEmpresa;
    font-family: $secondaryFont;
    div{
        a{
            img{
                &:hover{
                    transform: translateY(-10px);
                }
            }
        }
    }
}


#formasPago{
    background-color: $blanco;
    section{
        div{
            background-color: $azulEmpresa;
            height: 25vh;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 40px;
            margin-top: 50px;
            margin-left: 30px;
            margin-right: 30px;

            img{
                display: flex;
                margin-left: auto;
                margin-right: auto;
                height: 15vh;
                align-items: center;
                
            }
        }
    
    }
}
