<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- LINK CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <title>PAGOS</title>
</head>
<body>
    <!-- EMPIEZA NAV  -->
    <nav class="navbar navbar-expand-lg bgGris fontImpact">
        <div class="container-fluid">
            <a href="../index.html" >
                <img src="../img/nav.png" alt="logo de empersa"  width="100%" height="80px">
            </a>    
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link textoBlanco fontImpact" href="../views/servicios.html">SERVICIOS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link textoBlanco" href="../views/nosotros.html">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBlanco" href="../views/contacto.html">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoBlanco" href="../views/pagos.html">FORMAS DE PAGO</a>
                </li>           
                </ul>
            
        </div>
        </div>
    </nav>
    <!-- TERMINA NAV -->


    <!-- EMPIEZA FOOTER -->
    <footer>
        <div class="justify-content-center"> 
            <div class="d-flex flex-column justify-content-center mx-auto">
                <img src="../img/logoCuadrado.png" alt="logo empresa" height="150px" width="100px">
                <p>Instalacion de camaras y alarmas con monitoreo las 24hs y control total de las camaras via remota usando cualquier celular con coneccion a internet</p>
            </div>

        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com" target="_blank" class="me-2">
                <img src="../img/facebook.png" alt="logo facebook" width="100" height="100" >
            </a>
            <a href="https://www.instagram.com" target="_blank" class="me-2">
                <img src="../img/instagram.png" alt="logo instagram" width="100" height="100">
            </a>
            <a href="https://web.whatsapp.com" target="_blank">
                <img src="../img/whatsapp.png" alt="logo wpp" width="100" height="100">
            </a>
        </div>

        </div>
    </footer>
    <!-- TERMINA FOOTER -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>